data/rtdetrv2_pytorch/configs/dataset/coco/
data/rtdetrv2_pytorch/configs/dataset/dataset/
data/rtdetrv2_pytorch/*.pth
data/rtdetrv2_pytorch/output/
data/rtdetrv2_pytorch/*.jpg
data/rtdetrv2_pytorch/*.png
data/rtdetrv2_pytorch/*.mp4
data/rtdetrv2_pytorch/coco_test_2017/
data/rtdetrv2_pytorch/val2017/
